
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rdlp-api-app
    restart: no
    secrets:
      - db_host
      - db_port
      - db_name
      - db_username
      - db_password
    volumes:
      - ./logs:/app/logs
      - ./config.yaml:/app/config.yaml
      - ./utils/logger/logger.yaml:/app/utils/logger/logger.yaml
    command: python main.py

secrets:
  db_host:
    file: ./secrets/db_host.txt
  db_port:
    file: ./secrets/db_port.txt
  db_name:
    file: ./secrets/db_name.txt
  db_username:
    file: ./secrets/db_username.txt
  db_password:
    file: ./secrets/db_password.txt